WDK_INDEXER_API_KEY=
WDK_INDEXER_BASE_URL=https://wdk-api.tether.io
BASE_RPC_URL=https://mainnet.base.org
CHAIN_ID=8453
USDC_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
REDIS_URL=redis://localhost:6379/1
PORT=3002
